option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_USER:        "postgres"
    DB_PASSWORD:    "CHANGE_ME_IN_CONSOLE"
    DB_HOST:        "CHANGE_ME_RDS_ENDPOINT"
    DB_PORT:        "5432"
    DB_NAME:        "blacklist_db"
    JWT_SECRET_KEY: "CHANGE_ME_SECRET_KEY"
    STATIC_TOKEN:   "CHANGE_ME_STATIC_TOKEN"
